<!-- Navbar -->
<header class="navbar navbar-expand-lg fixed-top " :style="{ 'background-color' : bg_color }">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Navbar menu -->
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdSidebar" aria-controls="offcanvasWithBothOptions">
      <font-awesome-icon class="" icon="fa-solid fa-bars" />
    </button>
    <!-- Navbar menu -->


    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item" v-for="menuItem in menus" :class="{'dropdown' : menuItem.children.length > 0}" :key="menuItem.path_name">
          
          <a v-if="menuItem.children.length > 0" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <font-awesome-icon v-if="menuItem.icon" :icon="menuItem.icon" /> {{menuItem.title}}
          </a>

          <ul v-if="menuItem.children.length > 0" class="dropdown-menu">
            <li v-for="childrenItem in menuItem.children">
              <router-link class="dropdown-item" aria-current="page" :to="childrenItem.path_name">
                <font-awesome-icon v-if="childrenItem.icon" :icon="childrenItem.icon" /> {{childrenItem.title}}
              </router-link>
            </li>
          </ul>

          <router-link v-else class="nav-link" aria-current="page" :to="menuItem.path_name"><font-awesome-icon v-if="menuItem.icon" :icon="menuItem.icon" /> {{menuItem.title}}</router-link>
        
        </li>
      </ul>
      <!-- Left links -->

      <!-- Search form -->
      <search-base></search-base>
      <!-- Search form -->

    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Avatar -->
      <user-profile></user-profile>
      <!-- Avatar -->
    </div>
    <!-- Right elements -->

  </div>
  <!-- Container wrapper -->
</header>
<!-- Navbar -->

