.my-menu-header{
  height: 35px;
  width: 35px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 2px 2px 10px #a39e9e;
}

.my-menu-header :hover{
    transform: scale(1.1);
}

.my-active{
  background-color: white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}